<h3>We are at User Page</h3>

<!--Defining relative path-->

<!--<button routerLink="profile">Go to Profile (Normal route) </button>-->
<a routerLink="@Angular">Custom Route Matching Strategy Option </a>


<button (click)="goToOrders()">Go to Orders (See Query Params and Fragments)</button>
<button (click)="goToAnotherOrder()">Go to Another Order (Enable Navigation Extras)</button>
<!--<button (click)="goToOrderFooter()">See Router Fragment</button>-->
<a href="/users/1/orders#body">See Router Fragment</a>
<button (click)="stayOnUsers()">Stay On Users</button>

<button (click)="openInventorySupport()">Open inventory support (Enable Aux Route)</button>
<button (click)="closeInventorySupport()">Close inventory support (Remove Aux Route)</button>

<router-outlet></router-outlet>
